body{
    
    background-image: linear-gradient(pink,deeppink);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
h1{
color: black;
font-size:50px;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: lighter;
text-decoration: black;
text-align: center;
margin-top: 100px;
text-decoration: wavy;
}


a:link {
color: black;
}
a:visited{
    color:grey
}
a:hover{
color: cadetblue;
}
a:active{
    color: powderblue;
}

#p1{
    text-align: end;
    text-decoration: wavy;
    margin-right: 40px;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 60px;
    text-decoration: wavy;
}

p{
    text-align: center;
    text-decoration-thickness: inherit;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: larger;
    font-weight: bolder;
}

footer{
text-align: center;
margin-top: 100px;
margin-right: 60px;
margin-bottom: -70px;
}