.toppings{
    display: flex;

}

h1{
    font-family: "sofia" ,sans-serif;
    font-size: 60px;
    text-shadow: 7px 7px 8px rgb(156, 112, 136);
    color: deeppink; 
    text-align: center;
    margin-left: 120px;
}
.toppings img{
    width: 120px ;
    height: 120px;
    margin-top: 2%;
    margin-left: 0px;
    

}

.toppings ul{
    list-style-type: none;
    display: flex;
    margin-left: 200px;
    justify-items:right;

}

.toppings li{
     padding: 40px;
}

.hero{
    display: flex;
    background-color: black;
    border-radius: 30px;
    
    
}
a{
    text-decoration: none;
    font: size 60px;
    color: deeppink;
    
}
a:hover{
    color: bisque;
}
